:root {
    --base-font-family: "Pretendard-Regular";
}

html > body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    text-wrap: none;
}

a {
    text-decoration: underline !important;
}

