<nav th:fragment="navbarFragment" class="bg-white border-t border-b border-black">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="self-center font-bold whitespace-nowrap" style="font-size: 20px;">Medium Site</span>
        </a>
        <!-- 여기에 로그인 및 회원가입 버튼 추가 -->
        <div class="flex md:order-2 items-center space-x-4">
            <a class="text-gray-900 hover:text-blue-700" th:if="${@rq.logout}" href="/member/login">로그인</a>
            <a class="text-gray-900 hover:text-blue-700" th:if="${@rq.login}" href="/member/logout">로그아웃</a>
            <a class="text-gray-900 hover:text-blue-700" th:if="${@rq.logout}" href="/member/join">회원가입</a>
        </div>
    </div>
</nav>
